<div class="container">
  <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/welcome">Strona główna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
      <div  id="navbarSupportedContent" *ngIf="isLoggedIn()">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link" routerLink="roulete" >Ruletka</a>
        </li>
      </ul>
      </div>

    <div class=" " >
      <ul class="navbar-nav ">
        <li class="nav-item">
          <button class="btn btn-primary " *ngIf="isLoggedIn()"  (click)="doLogout()" routerLink="/login" >Wyloguj</button>
        </li>
      </ul>
    </div>

    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      &lt;!&ndash;<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="login" aria-label="Login">
        <input class="form-control mr-sm-2" type="password" placeholder="haslo" aria-label="Hasło">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj</button>
      </form>&ndash;&gt;
    </div>-->
  </nav>
</div>
